html, body {
	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Poppins', sans-serif;

}

body {
	background: #f2f7fb;
}


header.header {
	/*background: #09132c;
	color : white;
	margin-bottom: 48px;
	position: relative;*/

	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background: url("../images/header-bg.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding: 15px;

}

header.header .header-container {
	width: 50%;
	padding : 50px;
	color: #fff;
	z-index: 1 !important;
}

header.header h1.app-name{
	font-size: 1.75rem;
	
}


header.header  .search-div {
	padding:25px 0px;
}

.search-div form h2 {
	text-align: left;
	margin-bottom: 30px;
}

.badge {
	padding: .4rem;
	border-radius: .7rem;
	/*cursor: pointer;*/
	cursor: url("images/cursor_v3.png");
}

.badge-blue {
	color: white;
	background: #2490dc;
}


section.section {
	padding-top: 50px;
	max-width: 100%;
	width: 85%;
	margin: 0 auto;
	/*margin-top: 50px;*/
	z-index: 0;
}

.result-header .result-count{
	font-size: 1.2rem;
	font-weight: 500;
}

.result-header .btn-show-all{

}

.btn {
	border-radius: 1.5rem;
}



/*.btn-primary {

}*/

.btn-primary-custom {
    background-color: #0d1a31;
    border-color: #0d1a31;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0d1a31;
    border-color: #0062cc;
cursor: url("images/cursor_v3.png");
}


.search-result-list {
	padding: 0px;
    list-style: none;
}

.search-result-list .search-result-item {
	padding: 20px;
    border-radius: 20px;
    background: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(226,235,245,0.49);
	-moz-box-shadow: 0px 4px 25px 0px rgba(226,235,245,0.49);
	box-shadow: 0px 4px 25px 0px rgba(226,235,245,0.49);
}

.a-provided-by {
	color: #a2aab1;
    text-decoration: underline;
}

.a-provided-by : hover {
	color: red !important;
	cursor: url("images/cursor_v3.png");
}


.search-result-item-title {
	
	/*cursor: pointer;*/
	cursor: url("images/cursor_v3.png");
	font-weight:500;
}

.search-result-item-title i{
	margin-right: 10px;
}

.search-result-item-details {
	padding-left: 30px;
}

.search-result-item-title i.fas.fa-check-circle {
	color: #7760f2;
}

/*.search-result-item-title i.fas.fa-check-circle {
	color: #7760f2;
}

*/
.search-result-item-title i.far.fa-circle {
	color: #a9b8c2;
}

.tab-pane-list .search-result-item-title i.far.fa-circle {
	color: #404a51;
}

.tab-pane-list .search-result-item-details a {
	color: #868795;
	font-size: 13px;
}

.tab-pane-list h5 {
	margin-bottom: 0.2rem;
	font-size: 14px;
}

.tab-pane .text-center p {
	padding: 2px !important;
}

.tab-pane svg {
	width: 50px;
	height: 50px;
	padding-bottom: 10px;
}

.tab-pane .text-center p:first-of-type {
	font-size: 20px;
	margin-bottom: 1px;
}

.tab-pane .text-center p:last-of-type {
	color: #646670;
	font-size: 13px;
}

.btn-toggle-sidebar {
    padding: 10px 15px;
    color: white;
    background: #181c1f;
    margin: 0px;
    border: 0px;
    position: absolute;

}

.btn-toggle-sidebar.btn-open {
	right: 0;
}

.btn-toggle-sidebar.btn-close {
	left: -44px;
    top: 0px;
}

.section-container {
	position: relative;
	display: none;
}

.btn-toggle-sidebar {
	display: none;

}

aside.sidebar {
	position: sticky;
	float:right;
	top: 0;
	right: 0;
	background: #181c1f;
	color: white;
	z-index: 100000;
	width: 40%;
	height: 100%;
}

aside.sidebar .tab-content {
	padding :10px;
	height: 620px;
	overflow-y: scroll;
}

aside.sidebar .tab-content p{
	padding :10px;
}

aside.sidebar .nav-tabs {
	border-bottom: 1px solid #181c1f;
}

aside.sidebar .nav-tabs .nav-item {
    width: 33%;
    background-color: #23282c;
}

aside.sidebar .nav-tabs .nav-item a{
    padding: 20px;
}

aside.sidebar .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: #181c1f;
	color:white;
}

aside.sidebar .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .count {
	color: #7760f2;
	font-size: 30px;
}

aside.sidebar .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
	border-radius: 0;
    border: 0;
    background: #23282c;
    min-width: 90px;
    color:#595c65;
}

aside.sidebar .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .count {
	font-size: 30px;
}

.btn-generate-tree {
	color: #676973;
	background:#23282c;
	width: 100%;
	border:0;
	margin: 0;
	padding: 18px;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn-toggle-sidebar-container{
	position: relative;
}

.txt-search {
	min-height: 70px;
    border: 0;
    background: #fff;
    padding: 10px 70px 10px 32px;
    font-size: 18px;
    color: #666;
    border-radius: 34px !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.btn-search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0px;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    /*cursor: pointer;*/
	cursor: url("images/cursor_v3.png");
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.btn-search svg {
  fill: #fff;
  width: 85px;
  height: 55px;
  background-color: #0c1932;
  border-radius: 33px;
  transition: all .2s ease-out, color 0.2s ease-out;
  padding: 14px 16px;
}

/*.btn-search:hover, .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.btn-search:hover svg, .btn-search:focus svg {
  fill: #000;
}*/

/*.search-result-list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}*/

.search-result-list li {
  transform: translateX(-100%);
  transition: transform 0.5s, opacity 2s;
  opacity: 0;
}

.show {
  opacity: 1 !important;
  transform: translateX(0%) !important;
}

.tab-content .tab-pane .tab-pane-list {
	padding: 10px;
    border-bottom: 1px solid #232b30;
}

.tab-content .tab-pane {
	overflow-y: scroll;
}

.tab-content .tab-pane .tab-selected-count {
	color:#7760f2;
}

.btn-active {
	color: white;
    background: #686af0;
}

.center {
	text-align: center;
}

.topics-label {
	padding-right: 16px;
}

.logo {
	top: 3%;
    right: 83%;
    position: absolute;
}

.logo img {
	width: 180px;
}

.badge-document {
	color: #fff;
    background-color: #a9b8c2;
}

.badge-primary {
	background-color: #198ee0;
}

.badge {
	font-weight: 400;
	padding: 6px 12px;
}

#particles-js canvas {
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    top: 0% !important; 
}


header.header .div-container {
	padding-top:100px;
}

.div-container {
	width: 90%;
	padding : 70px;
	z-index: 1 !important;
}

.div-container .div-header {
	z-index: 1 !important;
	margin-bottom: 30px;
	overflow: hidden;
}

.div-container .div-header .title {
	margin-top:20px;
}

.div-container .div-header .sub-title {
	margin-top:5px;
	color: #a2aab1;
}

.div-container .div-header .div-download {
	float:right;
	padding:5px;
}

.div-container .div-header .div-download .btn {
	border-radius: 50%;
	border: 0px;
	background-color: #6365e8;
	padding: 21px;
}

.div-container .div-header .div-download .btn svg {
	width: 40px;
    height: 40px;
}

.div-container .div-header .div-download .btn .icon {
	padding:10px;
	border-radius: 50%;
	border: 0px;
	display:block;
    line-height:50px;
}

.div-container .div-box {
	padding: 20px;
    border-radius: 20px;
    background: white;
    /*-webkit-box-shadow: 0px 4px 25px 0px rgba(226,235,245,0.49);*/
	-moz-box-shadow: 0px 4px 25px 0px rgba(226,235,245,0.49);
	/*box-shadow: 0px 4px 25px 0px rgba(226,235,245,0.49);*/
}

.div-container .div-box .div-header {
	margin-left: 30px;
	margin-right: 30px;
}

.div-container .div-box .div-content {
	margin-left: 30px;
	margin-right: 30px;
}

button:focus {
  outline: none;
}

div.search-div span.badge.badge-primary:hover {
	/* -webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	    transform: scale(1.3);
	    box-shadow:
	        1px 1px #53a7ea,
	        2px 2px #53a7ea,
	        3px 3px #53a7ea;
	    -webkit-transform: translateX(-3px);
	    transform: translateX(-3px); */
    background-color: #2f4879;
	cursor: url("images/cursor_v3.png");
}

a.a-provided-by:hover {
	color: #198ee0;
	cursor: url("images/cursor_v3.png");
}

.animate-grow { 
	transition: all .05s ease-in-out;
	-webkit-transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
}

.animate-grow:hover { 
	transform: scale(1.1); 
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  20%{
    transform: scale(1,1) translate(0px, 0px); 
  }

  30%{
    transform: scale(1,1) translate(0px, -20px); 
  }
}

@-moz-keyframes moz-bounce {
  0% {
    -moz-transform: scale(1,1) translate(0px, 0px);
  }
  
  20%{
    -moz-transform: scale(1,1) translate(0px, 0px); 
  }

  30%{
    -moz-transform: scale(1,1) translate(0px, -20px); 
  }

}

.animate-bounce:hover {
      -webkit-animation: bounce 0.8s infinite;
      -moz-animation: moz-bounce 0.8s infinite;
}
